{% comment %}
Render a single SVG element in one of 4 sizes.
{% endcomment %}

{% if include.size == 'long' %}
    {% assign width = site.svg_width %}
    {% assign height = site.svg_height_long %}
    {% assign viewbox = site.svg_viewBox_long %}
{% elsif include.size == 'wide' %}
    {% assign width = site.svg_wide %}
    {% assign height = site.svg_height_wide %}
    {% assign viewbox = site.svg_viewBox_wide %}
{%elsif include.size=='thumb'}
    {% assign width = site.svg_width_thumb %}
    {% assign height = site.svg_height_thumb %}
    {% assign viewbox = site.svg_viewBox_thumb %}
{%else%}
    {% assign width = site.svg_width %}
    {% assign height = site.svg_height %}
    {% assign viewbox = site.svg_viewBox %}
{%endif%}
<figure>
    <svg id='img-{{include.id}}' height="{{height}}" width='{{width}}' viewBox="{{viewbox}}"></svg>
    <figcaption>{{include.caption}}</figcaption>
</figure>
