<!-- Button trigger modal -->
 <legend>
 {{include.data.title }}<span class="text-success" data-bs-toggle="modal" data-bs-target="#help-{{include.id}}">&nbsp;&nbsp;<i class="bi bi-question-circle"></i></span>
</legend>

<!-- Modal -->
<div class="modal fade" id="help-{{include.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="help-{{include.id}}-title">{{include.data.title}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-4 text-justify">

        {% if include.data.title %}
            <header class=''>
                <h4>{{include.data.title}}</h4>
            </header>
        {% endif %}

        {% if include.data.summary %}
            <div class='text-dark'>
            {{include.data.summary | markdownify}}
            </div>
        {% endif %}

        {% if include.data.full %}
            <div class='text-info small'>
            {{include.data.full | markdownify}}
            </div>
        {% endif %}

        {% if include.data.note %}
            <div class='text-muted small'>
            {{include.data.note | markdownify}}
            </div>
        {% endif %}

      </div>
    </div>
  </div>
</div>
