
<div id='infoblock-{{include.id}}' class='p-4 text-justify'>

{% if include.data.title %}
    <header class=''>
        <h4>{{include.data.title}}</h4>
    </header>
{% endif %}
    
{% if include.data.summary %} 
    <div class='text-success'>
    {{include.data.summary | markdownify}}
    </div>
{% endif %}
    
{% if include.data.full %} 
    <div class='text-info small'>
    {{include.data.full | markdownify}}
    </div>
{% endif %}
    
{% if include.data.note %}
    <div class='text-info text-muted small'>
    {{include.data.note | markdownify}}
    </div>
{% endif %}
    
{% if include.data.code %} 
    <div class='text-info text-muted'>
        <span class=''>Source Code:</span> <a href='{{include.data.code}}'>{{include.data.code}}</a>
    </div>
{% endif %}

</div>
