<nav>
        <ul class="nav">
                <li class="nav-item"><a class='nav-link' href='https://sims.virtual-worlds.scot/scotben-2026/' target='__blank'>A Scottish Budget</a></li>
                <li class="nav-item"><a class="nav-link active" aria-current="page" href=''>Basic Income Sim - Coming back soon</a></li>
                <li class="nav-item"><a class='nav-link' href='https://stb.virtual-worlds.scot/bcd/' target='__blank'>Budget Constraints</a></li>
                <li class="nav-item"><a class='nav-link' href='https://stb-blog.virtual-worlds.scot/' target='__blank'>Blog</a></li>
        </ul>
</nav>
