<nav>
        <ul class="nav">
                <li class="nav-item"><a class='nav-link' href='https://stb.virtual-worlds.scot/scotbudg/'>A Scottish Budget</a></li>
                <li class="nav-item"><a class="nav-link active" aria-current="page" href='https://ubi.virtual-worlds.scot/'>Basic Income</a></li>
                <li class="nav-item"><a class='nav-link' href='https://stb.virtual-worlds.scot/bcd/'>Budget Constraints</a></li>
                <li class="nav-item"><a class='nav-link' href='https://stb-blog.virtual-worlds.scot/'>Blog</a></li>
        </ul>
</nav>
