{% comment %}
All the modal popups in one file - pick one ... 
{% endcomment %}

{% if include.which == 'gainlose' %}
<!-- popups: 1) gain lose -->
<div class='modal fade' id='gainlose-popup' tabindex='-1' role='dialog' aria-labelledby='crosstab-label' aria-hidden='true'>
    <div class='modal-content modal-dialog modal-xl'  role='document'>
        <div class='modal-header'>
            <h3  class='modal-title' >Gainers and Losers</h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class='modal-body'>
        <div id='gain-lose-summary'></div>
        <h4>{{site.data.definitions.decile.title}}</h4>

        {% include svg-figure.html size="std" id="deciles" caption=site.data.definitions.deciles.summary %}

        <div class='text-info fs-6'>{{site.data.definitions.decile.summary | markdownify}}</div>

        {% include infoblock.html id='gainlose' data=site.data.definitions.gainlose %}

        {% include table-figure.html id='children_gl' caption="Counts of Gainers and Losers By Number of Children" %}
        {% include table-figure.html id='hhtype_gl' caption="Counts of Gainers and Losers By Household Size" %}
        {% include table-figure.html id='ten_gl' caption="Counts of Gainers and Losers By Tenure" %}
        {% include table-figure.html id='dec_gl' caption="Counts of Gainers and Losers By Equivalent Income Decile" %}
        </div> <!-- modal body -->
    </div> <!-- model content -->
</div><!-- hidden div -->

{% elsif include.which == 'costs' %}

<!-- popups: 2) costs -->
<div class='modal fade' id='costs-popup' tabindex='-1' role='dialog' aria-labelledby='crosstab-label' aria-hidden='true'>
    <div class='modal-content modal-dialog modal-xl'  role='document'>
        <div class='modal-header'>
            <h3  class='modal-title' >Costs of Your Changes</h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class='modal-body'>
                <h4>Costs Summary</h4>

                {% include infoblock.html id='costs' data=site.data.definitions.costs %}

                {% include table-figure.html id='costs_table' caption="Costs/Revenues in £m p.a.; counts of recipients/payers in 000s" %}

                {% include infoblock.html id='taxable_graph' data=site.data.definitions.taxable_graph %}

                {% include svg-figure.html size="long" id="taxable_graph" caption="Taxable Incomes, in £10 bands, against Marginal Income Tax Rates." %}

                {% include infoblock.html id='sfc' data=site.data.definitions.sfc %}

                <h4>SFC Behavioural Corrections</h4>
                {% include table-figure.html id='sfc' caption="Income Tax Behavioural Corrections based on <a href=''>paper by Scottish Fiscal Commission</a>." %}

                <h4>Detailed Costs</h4>
                {% include table-figure.html id='detailed_costs' caption="Costs/Revenues in £m p.a.; counts of recipients/payers. All Items." %}
        </div> <!-- modal body -->
    </div> <!-- model content -->
</div><!-- hidden div -->

{% elsif include.which == 'metrs' %}

<!-- popups: 3) METRS -->
<div class='modal fade' id='metrs-popup' tabindex='-1' role='dialog' aria-labelledby='crosstab-label' aria-hidden='true'>
    <div class='modal-content modal-dialog modal-xl'  role='document'>
        <div class='modal-header'>
            <h3  class='modal-title' >Incentives To Work - Marginal Effective Tax Rates (METRS)</h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class='modal-body'>

            {% include infoblock.html id='metrs' data=site.data.definitions.metrs %}

            {% include svg-figure.html size="std" id="metrs2" caption="Histogram of Marginal Effective Tax Rates, pre- and post- your chhanges." %}

            {% include infoblock.html id='metrs_transitions' data=site.data.definitions.metrs_transitions %}

            <div style='scale:90%'> <!-- hack - shrink to fit this big table -->
            {% include table-figure.html id='metrs_transitions' caption="This shows how the METRS of working-age people change as a result of your changes." %}
            </div>
        </div> <!-- modal body -->
    </div> <!-- model content -->
</div><!-- hidden div -->

{% elsif include.which == 'poverty' %}

<!-- popups: 4) Poverty -->
<div class='modal fade' id='poverty-popup' tabindex='-1' role='dialog' aria-labelledby='crosstab-label' aria-hidden='true'>
    <div class='modal-content modal-dialog modal-xl'  role='document'>
        <div class='modal-header'>
            <h3  class='modal-title' >Poverty</h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class='modal-body'>

            {% include infoblock.html id='poverty' data=site.data.definitions.poverty %}

            {% include table-figure.html id='poverty_summary' caption="" %}

            {% include infoblock.html id='poverty_transitions' data=site.data.definitions.poverty_transitions %}

            {% include table-figure.html id='poverty_transitions' caption="" %}
        </div> <!-- modal body -->
    </div> <!-- model content -->
</div><!-- hidden div -->

{% elsif include.which == 'inequality' %}

<!-- popups: 5) Inequality -->
<div class='modal fade' id='inequality-popup' tabindex='-1' role='dialog' aria-labelledby='crosstab-label' aria-hidden='true'>
    <div class='modal-content modal-dialog modal-xl'  role='document'>
        <div class='modal-header'>
            <h3  class='modal-title' >Inequality</h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class='modal-body'>

        {% include infoblock.html id='lorenz' data=site.data.definitions.lorenz %}

        {% include svg-figure.html size="std" id="lorenz_curve" caption="Standard Curve showing the share of income against share of population; <a href=''>More Information</a>." %}

        {% include infoblock.html id='inequality' data=site.data.definitions.inequality %}

        {% include table-figure.html id='inequality_summary' caption="" %}
        </div> <!-- modal body -->
    </div> <!-- model content -->
</div><!-- hidden div -->

{% elsif include.which == 'income' %}

<!-- popups: 6) Incomes -->
<div class='modal fade' id='incomes-popup' tabindex='-1' role='dialog' aria-labelledby='crosstab-label' aria-hidden='true'>
    <div class='modal-content modal-dialog modal-xl'  role='document'>
        <div class='modal-header'>
            <h3  class='modal-title' >Household Incomes</h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class='modal-body'>

        {% include infoblock.html id='income' data=site.data.definitions.income %}
        {% include svg-figure.html size="long" id="hbai" caption="Reproduction of the standard HBAI Income Distribution graph." %}
        </div> <!-- modal body -->
    </div> <!-- model content -->
</div><!-- hidden div -->

{% endif %}
