<form id='mainform' action="thing" method="POST">

    <input type='hidden' id='scotben-uid' name='scotben-uid' value='-1' />

    <div class='container-fluid'>
        <div class='row'><!-- input row -->
            <fieldset class="col border rounded-2 m-1 p-2">
                <legend>Income Tax</legend>
                        <input type="hidden" id="tax-n" name="tax-n" value=""/>
                        <table id='it-table' class="table table-sm table-striped">
                            <caption>Rates in %, bands in &pound;s pa</caption>
                            <thead>
                                <tr>
                                    <th>Rate (%)</th>
                                    <th>Band (£pa)</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id='tax-rows'>
                            </tbody>
                        </table>
                        <div class="col ukreserved p-2 rounded-2">
                            <label for='taxallowance' class='form-label'>Personal Allowance £pa</label>
                            <input id='taxallowance' type='number' name="taxallowance" min='0' max='100000' value='' step='1' size="12" class='form-control w-50'/>
                        </div>
            </fieldset>
            <fieldset class='col border rounded-2 m-1 p-2 ukreserved'>
                <legend>National Insurance</legend>
                <input type="hidden" id="ni-n" name="ni-n" value=""/>
                <table class="table table-sm table-striped">
                    <caption>Rates in %, bands in &pound;s pw</caption>
                    <thead>
                        <tr>
                            <th>Rate (%)</th>
                            <th>Band (£pw)</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id='ni-rows'>
                    </tbody>
                </table>
            </fieldset>
            <fieldset class='col border  rounded-2 m-1 p-2'>
                <legend>Scottish Benefits</legend>
                <div class="row">
                    <div class="col">
                        <label for='scottish_child_payment' class='form-label'>Scottish Child Payment £pw</label>
                        <input id='scottish_child_payment' type='number' name="scottish_child_payment" min='0' max='400' value='' step='0.01' size="10" class='form-control w-50'/>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for='scp_age' class='form-label'>Scottish Child Payment: maximum age (years)</label>
                        <input id='scp_age' type='number' name="scp_age" min='0' max='18' value='' step='1' size="4" class='form-control w-50'/>
                    </div>
                </div>
            </fieldset>
            <fieldset class='col border rounded-2 m-1 p-2 ukreserved'>
                    <legend>UK (Reserved) Benefits</legend>
                    <div class="row">
                        <div class="col">
                            <label for='uc_single' class='form-label'>Universal Credit: Single over 25 (£pm)</label>
                            <input id='uc_single' type='number' name="uc_single" min='0' max='2000' value='' step='0.01' size="10" class='form-control w-50'/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for='uc_taper' class='form-label'>Universal Credit Taper (%)</label>
                            <input id='uc_taper' type='number' name="uc_taper" min='1' max='100' value='' step='1' size="10" class='form-control w-50'/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for='child_benefit' class='form-label'>Child Benefit (1st child) £pw</label>
                            <input id='child_benefit' type='number' name="child_benefit" min='0' max='1000' value='' step='0.01' size="10" class='form-control w-50'/>
                        </div>
                    </div>
                    <div class="row">
                            <div class="col">
                                <label for='pension' class='form-label'>New State Pension £pw</label>
                                <input id='pension' type='number' name="pension" min='0' max='1000' value='' step='0.01' size="10" class='form-control w-50'/>
                            </div>
                    </div>
            </fieldset>
        </div><!-- row -->
    </div><!-- container-fluid -->
</form>
