<fieldset class="row">
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col">
        <ul class="nav">
            <li class="nav-item  p-2">
                <button  type="button" class='btn btn-warning rounded-2' value='' onclick='get_output(-1)'>Reset</button>
            </li>
            <li class="nav-item p-2">
                <button  type="button" class='btn btn-info rounded-2' value='' onclick='params_set()'>Save</button>
            </li>
            <li class="nav-item p-2">
                <button  type="button" class='btn btn-success rounded-2' value='' onclick='run_submit()'>Run</button>
            </li>
        </ul>
    </div>
</fieldset> <!-- submission row -->
