<div class='container-fluid'>
    <fieldset class="row">
        <div class='col-10'></div>
        <div class="col border rounded-2 m-1 p-2">
            <ul class="nav">
                <li class="nav-item  p-2">
                    <button id='reset-1' type="button" class='btn btn-warning rounded-2' value='' onclick='resetParams()'>Reset</button>
                </li>
                <li class="nav-item p-2">
                    <button id='submit-1' type="button" class='btn btn-info rounded-2' value='' onclick='submitParams()'>Save</button>
                </li>
                <li class="nav-item p-2">
                    <button id='run-1' type="button" class='btn btn-success rounded-2' value='' onclick='submitRun()'>Run</button>
                </li>
            </ul>
        </div>
    </fieldset> <!-- submission row -->
</div>
