<!DOCTYPE html>

<html lang='en-GB'>

{% include model_header.html %}

<body class='text-primary p-2'>
        
{% include main_nav.html %}

<header role='header' class='box justify-content-center'>
    <h1>{{page.title}}</h1>
</header>

{% include bi-inputs.html %}

{% include submission-block.html %}

{% include progress-block.html %}

<div id='output-wrapper' class='container-fluid'>
    <header role='header' class='box justify-content-center'>
        <h2>Results At A Glance</h2>
    </header>
    <p class='text-info'>
    Press the 'run' button to introduce your UBI. Results appear below, compared to the actual Scottish tax and benefit system in place Summer 2026; click anywhere on the panels for detailed breakdowns, charts, and precise definitions.
    </p>


    <div class='row'>
        <div class='col-3'></div>
        <div class='col-6 pt-3 pb-3 text-center alert alert-info' role='alert' id='headlines-net-direct'></div>
        <div class='col-3'></div>
    </div>


    <div class='row fs-5 justify-content-center text-primary'>

    {% include default-output.html which='gainlose' %}
    {% include default-output.html which='costs' %}
    {% include default-output.html which='metrs' %}

    </div>

    <div class='row fs-5 justify-content-center text-primary'>

    {% include default-output.html which='poverty' %}
    {% include default-output.html which='inequality' %}
    {% include default-output.html which='income' %}

    </div>

    <div class='row'>
        <div class='col'>&nbsp;</div>
        <div class="col alert alert-success border rounded-2 m-1 p-2" role="alert"><a id='phunpack' class='link-success' href=''>Download a Zipfile with full results.</a></div>
        <div class='col'>&nbsp;</div>
    </div>

</div><!-- output-wrapper -->


{% include modal-popups.html which='gainlose' %}
{% include modal-popups.html which='costs' %}
{% include modal-popups.html which='metrs' %}
{% include modal-popups.html which='poverty' %}
{% include modal-popups.html which='inequality' %}
{% include modal-popups.html which='income' %}

<div id='main-content' class='m-2 p-2 text-dark'>

{{ page.content | markdownify }}

</div>


{% include model_footer.html %}

<script>

const UID =  -1;
const MODEL = "scotben";
const EDITION = "basic-income-2026a";
const SUBSYS = "UBIParams";

{% include js/utils.js %}
{% include js/rate-table-edit.js %}
{% include js/bi-params-edit.js %}
{% include js/microapi-impl.js %}
{% include js/progress-bar.js %}
{% include js/handle_submissions.js %}

$(document).ready(function(){
    // load default params ..
    console.log( "ready - initialise")
    initialise();
});

</script>

</body>

</html>
